@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Fredoka', sans-serif !important;
  }
  
  body, html {
    font-family: 'Fredoka', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif !important;
  }
  
  .css-text-146c3p1 {
    font-family: 'Fredoka', sans-serif !important;
  }
}

html, body, #root {
  height: 100%;
}
